@model IEnumerable<PrintSoftWeb.Models.FileUpload>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "File Upload";

}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="m-0 font-weight-bold text-primary"> File Upload </h4>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="row mt-3 mt-lg-0 mt-md-3">
                    <div class="col-lg-2">
                        <label for="name" class="form-label"> Date : </label>
                    </div>
                    <div class="col-lg-8 d-flex">
                        <input type="date" class="form-control" id="f_date" name="name">
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="row mt-3 mt-lg-0 mt-md-3">
                    <button class="btn btn-md text-light bg-primary mt-3 mt-lg-0 mt-md-0 ml-2" type="button" onclick="return searchbtn()">
                        Search
                    </button>
                </div>

            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> Sr.No </th>
                        <th> Document Type </th>
                        <th> File Name </th>
                        <th> Date </th>
                        <th> Count </th>
                        <th style="display:none;"> Document Id </th>
                        <th style="display:none;"> Table Name </th>
                        <th width="7%"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                    @{
                        if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                int no = 1;
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => no)</td>
                                    <td> @Html.DisplayFor(modelItem => item.f_doctype)</td>
                                    <td> @Html.DisplayFor(modelItem => item.f_filename)</td>
                                    <td> @Html.DisplayFor(modelItem => item.f_date)</td>
                                    <td> @Html.DisplayFor(modelItem => item.f_count)</td>
                                    <td style='display:none;'>@Html.DisplayFor(modelItem => item.f_docid)</td>

                                    <td class='text-center'>
                                        @if (string.IsNullOrEmpty(item.f_filename))
                                        {
                                            <!-- If item.f_filename is null or empty, display a plus icon -->
                                            <div class='d-flex' id="add" data-bs-toggle="modal" data-bs-target="#createModal" onclick="addmodel()">
                                                <i class='fa fa-plus'></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <!-- If item.f_filename is not null or empty, display an edit icon and a delete icon -->
                                            <div class='d-flex'>
                                                <i class='fas fa-edit click-edit'></i>
                                                <i class='fa fa-trash ml-2 text-danger click'></i>
                                            </div>
                                        }
                                    </td>

                                </tr>
                                no++;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">File Upload</h5>
                    <button type="button" class="btn-close bg-primary text-white" data-bs-dismiss="modal" aria-label="Close" onclick="CancelData()"></button>
                </div>

                <form asp-controller="FileUpload" asp-action="Upload" method="post" enctype="multipart/form-data">
                    
                <input type="hidden" id="date" name="date" />

                <div class="modal-body text-dark">
                    <div class="form-group" style="display:none">
                        <label class="control-label">Id</label>
                        <input id="cc_id" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 ">
                                <label class="control-label fw-bold">Select File <span class="text-danger">*</span></label>
                            <div class="form-group form-group-sm">
                                    <input id="f_upload" class="form-control" type="file" name="postedFile" />
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="modal-footer">
                    <button title="Save" type="submit" id="btnsubmit" value="Create" class="btn btn-primary" onclick="">Submit</button>
                    <button type="button" title="Close" class="btn btn-danger" data-dismiss="modal" onclick="">Cancel</button>
                </div>
                        
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    function addmodel() {
        $("#createModal").modal("show");
        $('#date').val($('#f_date').val());
    }
    function searchbtn() {
                var f_date= $('#f_date').val();
            var data = {
                f_date: $('#f_date').val(),
            };
            $.ajax({
                type: 'POST',
                url: "/FileUpload/EditIndex?f_date="+f_date, // Use the form's action attribute
                data: data, // Serialize the form data
                success: function (response) {

                },
                error: function (xhr, status, error) {
                }
            });
    }
   
</script>
