@model IEnumerable<PrintSoftWeb.Models.Debt>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Debt";
}
<head>
    <script src="~/jsfiles/commonjs/commonjs.js"></script>

    <link href="~/css/main.css" rel="stylesheet" />
    <style type="text/css">
        .table100 {
            border: 0px !important;
        }
    </style>
</head>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="m-0 font-weight-bold text-primary"> DEBT </h4>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="row mt-3 mt-lg-0 mt-md-3">
                    <div class="col-lg-2">
                        <label for="name" class="form-label"> Date : </label>
                    </div>
                    <div class="col-lg-8 d-flex">
                        <input type="date" class="form-control" id="d_date" name="name">
                    </div>
                </div>
               @* <div class="col-auto d-flex flex-wrap toggle pr-5">
                    <button class="btn btn-md text-light bg-danger mt-3 mt-lg-0 mt-md-0 ml-2" type="button" title="Search" onclick="return searchbtn()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>*@
            </div>
            <div class="col-auto d-flex flex-wrap toggle">
                <button class="btn btn-md text-light bg-danger mt-3 mt-lg-0 mt-md-0 ml-2" type="button" title="Search" onclick="return searchbtn()">
                <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn-md text-light bg-primary mt-3 mt-lg-0 mt-md-0 ml-2" type="button" onclick="addmodel()">
                    <i class="fa fa-angle-up"></i>
                </button>
                <button class="btn btn-md text-light bg-success mt-3 mt-lg-0 mt-md-0 ml-2" type="button" title="Excel" onclick="excel()">
                    <i class="fa fa-angle-down"></i>
                </button>


            </div>
        </div>
        <div class="table100 ver2 m-b-110 mt-3">

        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0" data-vertable="ver2">
            <thead>
                <tr class="row100 head">
                    <th> Sr.No </th>
                    <th class="d-none"></th>
                        <th> File Type </th>
                        <th> File Name </th>
                        <th> Date </th>
                        <th> Count </th>
                    </tr>
                </thead>
                <tbody id="htmlrpt">
                    <tr>
                    </tr>
                    @{
                        if (Model != null)
                        {
                            int no = 1;
                            @foreach (var item in Model)
                            {                           
                                
                                <tr class="row100">
                                    <td>@no</td>
                                    <td class="d-none"></td>
                                    <td>@Html.DisplayFor(modelItem => item.d_filetype)</td>
                                    <td> @Html.DisplayFor(modelItem => item.d_filename)</td>
                                    <td> @Html.DisplayFor(modelItem => item.date)</td>
                                    <td> @Html.DisplayFor(modelItem => item.d_count)</td>

                                </tr>
                                no++;
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        @*  <div class="table-responsive mt-3">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead style=" vertical-align: middle;  background-color: #297e0d; color: #fff;  font-size: 17px; text-align: center;">

        <tr>
        <th> <label>Particulars</label> </th>
        <th> <label id="h_col1"></label> </th>
        <th>F.Y. <label id="h_col2"></label> </th>
        <th> <label id="h_col3"></label> </th>
        <th> <label id="h_col4"></label> </th>
        <th> <label>M-O-M Growth (%)</label> </th>
        <th> <label>Y-O-Y Growth (%)</label> </th>
        <th> <label>Y-T-D Growth (%)</label> </th>
        </tr>
        </thead>
        <tbody id="htmlrpt" style="  font-size: 16px;  font-weight: bold;">
        <tr>
        </tr>
        @{
        if (Model != null)
        {
        @foreach (var item in Model)
        {
        <tr>
        <td>@Html.DisplayFor(modelItem => item.h_particulars)</td>
        <td> @Html.DisplayFor(modelItem => item.h_col1)</td>
        <td> @Html.DisplayFor(modelItem => item.h_col2)</td>
        <td> @Html.DisplayFor(modelItem => item.h_col3)</td>
        <td> @Html.DisplayFor(modelItem => item.h_col4)</td>
        <td> @Html.DisplayFor(modelItem => item.h_mom)</td>
        <td> @Html.DisplayFor(modelItem => item.h_yoy)</td>
        <td> @Html.DisplayFor(modelItem => item.h_ytd)</td>

        </tr>

        }
        }
        }
        </tbody>
        </table>
        </div>*@
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">DEBT</h5>
                    <button type="button" class="btn-close bg-primary text-white" data-bs-dismiss="modal" aria-label="Close" onclick="CancelData()"></button>
                </div>

                <form asp-controller="Dept" asp-action="Upload" method="post" enctype="multipart/form-data">

                    <input type="hidden" id="date" name="date" />

                    <div class="modal-body text-dark">
                        <div class="form-group" style="display:none">
                            <label class="control-label">Id</label>
                            <input id="cc_id" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-12 ">
                                <label class="control-label fw-bold">Select File <span class="text-danger">*</span></label>
                                <div class="form-group form-group-sm">
                                    <input id="f_upload" class="form-control" type="file" name="postedFile" />
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button title="Save" type="submit" id="btnsubmit" value="Create" class="btn btn-primary" onclick="">Submit</button>
                            <button type="button" title="Close" class="btn btn-danger" data-dismiss="modal" onclick="">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        var date = new Date();
        var formattedDate = formatDate(date);
        $('#d_date').val(formattedDate);

    });

    function formatDate(date) {
        var year = date.getFullYear();
        var month = ('0' + (date.getMonth() + 1)).slice(-2);
        var day = ('0' + date.getDate()).slice(-2);
        return year + '-' + month + '-' + day;
    }

    function addmodel() {
        var date = $('#d_date').val();
        if (date == '') {
            alert("Please select date!");
            return false;
        }
        $("#createModal").modal("show");
        $('#date').val($('#d_date').val());
    }
    function excel() {
        var d_date = $('#d_date').val();
        window.location.href = 'Dept/Excel?d_date=' + d_date;
    }
    function searchbtn() {
        var date = $('#d_date').val();
        if (date == '') {
            alert("Please select date!");
            return false;
        }
        var data = {
            date: $('#d_date').val(),
        };
        $.ajax({
            type: 'POST',
            url: "Dept/Search?date=" + date, // Use the form's action attribute
            data: data, // Serialize the form data
            success: function (response) {
                var htmlrpt = '';
                $('#htmlrpt').html(htmlrpt);
                for (var i = 0; i < response.length; i++) {
                    if (response[i].d_filename == null || response[i].d_filename == '') {
                        htmlrpt += '<tr class="row100"><td><b>' + i + '</b></td><td>' + response[i].d_filetype + '</td><td>' + response[i].d_filename + '</td><td>' + response[i].date + '</td><td>' + response[i].d_count + '</td></tr>';
                    }
                    else {
                        htmlrpt += '<tr class="row100"><td><b>' + i + '</b></td><td>' + response[i].d_filetype + '</td><td>' + response[i].d_filename + '</td><td>' + response[i].date + '</td><td>' + response[i].d_count + '</td></tr>';
                    }


                }
                $('#htmlrpt').html(htmlrpt);
            },
            error: function (xhr, status, error) {
            }
        });
    }
</script>