@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer;
@model IEnumerable<PrintSoftWeb.Models.DepartmentMasterModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/jsfiles/commonjs/commonjs.js"></script><!-- For Common Jquery-->
    <script src="~/jsfiles/departmentmaster/departmentmasterjs.js"></script>
</head>
<div class="card shadow mb-4">
    <!--Start Header -->
    <div class="card-header py-3"> 
        <div class="row align-items-center">
            <div class="col">
                <h4 class="m-0 font-weight-bold text-primary">@Localizer["Department"]</h4>
            </div>
            <div class="col-md-2 justify-content-lg-end justify-content-md-end justify-content-center mt-lg-0 mt-md-0 mt-3">
                <input type="text" id="custom-search" class="form-control" placeholder=@Localizer["Search"] />
            </div>
            <div class="col-auto d-flex flex-wrap">
                <div class="form-check form-switch mt-lg-1 mt-md-1 mt-3 ml-2 ">
                    <input class="form-check-input" type="checkbox" id="toggleStatus" checked onclick="performAction()">
                    <label class="form-check-label" for="toggleStatus" data-on="On" data-off="Off"></label>
                </div>
                <button class="btn btn-md text-light bg-primary mt-3 mt-lg-0 mt-md-0" title="Add Department" type="button" data-bs-toggle="modal" onclick="return AddDepartment()" style="display:@Context.Session.GetString("AddAccess")"> <i class="fa fa-plus"></i></button>
                <button class="btn btn-md text-light bg-success mt-3 mt-lg-0 mt-md-0 ml-2" title="Excel" type="button" onclick="return Excel()" data-bs-toggle="modal" data-bs-target="#addSubscription"><i class="fas fa-file-excel"></i></button>
                <button class="btn btn-md text-light bg-danger mt-3 mt-lg-0 mt-md-0 ml-2" type="button" title="Pdf" data-bs-toggle="modal" onclick="return Pdf()" data-bs-target="#addSubscription"><i class="fas fa-file-pdf"></i></button>
            </div>
        </div>
    </div>
    <!--End  Header -->
    <!--Start Body -->
    <div class="card-body">
        <!-- start Griddata-->
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="6%">
                            @Localizer["Sr.No"]
                        </th>
                        <th style="display:none">
                            @Localizer[@Html.DisplayNameFor(model => model.UserId)]
                        </th>
                        <th style="display:none">
                            @Localizer[@Html.DisplayNameFor(model => model.d_id)]
                        </th>
                        <th>
                            @Localizer[@Html.DisplayNameFor(model => model.d_department_code)]
                        </th>
                        <th>
                            @Localizer[@Html.DisplayNameFor(model => model.d_department_name)]
                        </th>
                        <th width ="7%">
                            @Localizer[@Html.DisplayNameFor(model => model.d_isactive)]
                        </th>
                        <th width="7%">@Localizer["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int itemNumber = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @itemNumber
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.d_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.d_department_code)
                            </td>
                            <td onclick="return GoToDes('@item.d_id','@item.d_department_name')">
                                @Html.DisplayFor(modelItem => item.d_department_name)
                            </td>
                            <td>
                                @* @Html.DisplayFor(modelItem => item.d_isactive)*@
                                <div class="form-check form-switch ml-auto active-toggle">
                                    @if (item.d_isactive == "Active")
                                    {
                                        <input class="form-check-input ml-auto" type="checkbox" id="toggleSwitch" title="Active" checked onclick="ToggleSwitch('@item.d_id','@item.d_department_code','@item.d_department_name','0')">
                                        <label class="form-check-label" for="toggleSwitch" data-on="On" data-off="Off"></label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input ml-auto" type="checkbox" id="toggleSwitch" title="Inactive" onclick="ToggleSwitch('@item.d_id','@item.d_department_code','@item.d_department_name','1')">
                                        <label class="form-check-label" for="toggleSwitch" data-on="On" data-off="Off"></label>
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex">
                                    <a class='editicon text-primary' title="Edit" onclick="editLinkClick('@item.d_id','@item.d_department_code','@item.d_department_name','@item.d_isactive')" style="display:@Context.Session.GetString("EditAccess")"> <span class='fas fa-edit'></span></a>
                                    <a href="@Url.Action("Delete", new { d_id = @item.d_id })" onclick="return confirm('Are you sure you want to delete?')" class='deleteicon text-danger' title="Delete" style="display:@Context.Session.GetString("DeleteAccess")"> <span class='fa fa-trash ml-2'></span></a>
                                </div>
                            </td>
                        </tr>
                        itemNumber++;
                    }
                </tbody>
            </table>
        </div>
        <!-- End Griddata-->
        <!-- start Pagination-->
        <div class="row mt-3">
            <div class="col-lg-5 col-md-5 col-12 ">
                <div class="row ">
                    <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-lg-start justify-content-md-start justify-content-center ">
                        <h6 class="mt-2">@Localizer["Show"]</h6>&nbsp;&nbsp;
                        <select name="table_id_length" id="table_length_select" aria-controls="table_id" class="form-select w-auto">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        &nbsp;&nbsp;
                        <h6 class="mt-2">@Localizer["entries"]</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-5 col-md-5 col-12 mt-lg-0 mt-md-0 mt-3">
                <nav aria-label="Page navigation example">
                    <div id="table_id_length">

                        <div id="custom-pagination" class=" d-flex text-center text-lg-end justify-content-end  text-end float-end">
                            <ul class="pagination justify-content-lg-end justify-content-md-end justify-content-center">
                                <li class="page-item disabled">
                                    <button class="page-link" href="#" aria-label="Previous" data-page="0"> <span aria-hidden="true">&laquo;</span></button>
                                </li>
                                <li class="page-item active"><button class="page-link" href="#" data-page="1">1</button></li>

                                <li class="page-item "><button class="page-link" href="#" data-page="2" aria-label="Next">  <span aria-hidden="true">&raquo;</span></button></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end Pagination-->
        <!-- start Modal-->
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="exampleModalLabel">@Localizer["Add Department"]</h5>
                        <button type="button" class="btn-close bg-primary text-white" data-bs-dismiss="modal" aria-label="Close" onclick="CancelData()"></button>
                    </div>
                    <div class="modal-body text-dark">
                        <div class="form-group" style="display:none">
                            <label class="control-label">Id</label>
                            <input id="d_id" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-12 ">
                                <div class="form-group form-group-sm">
                                    <label class="control-label fw-bold">@Localizer["Code"]  <span class="text-danger">*</span></label>
                                    <input id="d_department_code" class="form-control" placeholder="Enter Code" maxlength="10" onblur="trimInput()" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-xs-6 col-sm-6 col-md-12 ">
                                <div class="form-group form-group-sm">
                                    <label class="control-label fw-bold">@Localizer["Name"] <span class="text-danger">*</span></label>
                                    <input id="d_department_name" class="form-control" placeholder="Enter Name" maxlength="100" onblur="trimInput()" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-12 ">
                                <div class="form-group form-group-sm">
                                    <label class="control-label fw-bold">@Localizer["Department Head"]  <span class="text-danger">*</span></label>
                                    <input id="d_department_code" class="form-control" placeholder="Enter Department Head" maxlength="100" onblur="trimInput()" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-xs-6 col-sm-6 col-md-12 ">
                                <div class="form-group form-group-sm">
                                    <label class="control-label fw-bold">@Localizer["Description"] <span class="text-danger">*</span></label>
                                    <input id="d_department_name" class="form-control" placeholder="Enter Description" maxlength="100" onblur="trimInput()" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="" id="d_isactive" checked>
                                    <label class="form-check-label " for="d_isactive">
                                        @Localizer["Is Active"]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button title="Save" type="submit" id="btnsubmit" value="Create" class="btn btn-primary" onclick="submitDepartment()">@Localizer["Submit"]</button>
                        <button type="button" title="Close" class="btn btn-danger" data-dismiss="modal" onclick="CancelData()">@Localizer["Cancel"]</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- end Modal-->
    </div>
    <!--End Body -->
</div>


<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
        //$('.table_id_length').css("display", "none");
        $('#createModal').modal({
            backdrop: 'static', // Prevents closing on outside click
            keyboard: false // Prevents closing with the escape key
        });
        const urlParams = new URLSearchParams(window.location.search);

        const status = urlParams.get('status');
        if (status === '0') {

            $('#toggleStatus').prop('checked', false);
        }
    });
    myFunction();
    $('#table_length_select').change();
</script>

